*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f5f7fa;
}

header{
background:#0077b6;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

.hero{
height:400px;
background:url("https://images.unsplash.com/photo-1510130387422-82bed34b37e9") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-shadow:2px 2px 5px black;
}

.hero h2{
font-size:3rem;
}

section{
padding:40px;
}

.contenedor-menu{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:white;
width:300px;
border-radius:15px;
overflow:hidden;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card h3,
.card p{
padding:10px;
text-align:center;
}

form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
}

input{
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:12px;
background:#0077b6;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover

footer{
background:#023e8a;
color:white;
text-align:center;
padding:20px;
}
